<h2>Query the Database:</h2>

<form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
	<table style="width:100%">
		<tr>
			<td><label>UserID:      </label></td>
			<td><input type="text" [(ngModel)]="datamodel.userid" name="userid" required></td>
			<td><button type="submit"> Search </button></td>
		</tr>
	</table>
</form>

<div class="container" *ngIf="formSubmit">
    <table class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Sender ID</th>
                <th>Recipient ID</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tran of returnValue.transactions">
                <td>{{tran.userID}}</td>
                <td>{{tran.recipID}}</td>
                <td>{{tran.data}}</td>
            </tr>
        </tbody>
    </table>
</div>
