<h2>Query the Database:</h2>

<div class="container">
    <table class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Patient ID</th>
                <th>Doctor ID</th>
                <th>Data</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tran of this.transaction['transactions']">
                <td>{{tran.userID}}</td>
                <td>{{tran.recipID}}</td>
                <td>{{tran.data}}</td>
                <td>{{tran.notes}}</td>
            </tr>
        </tbody>
    </table>
</div>
